fastapi==0.109.0
uvicorn==0.27.0
python-socketio==5.11.0
python-dotenv==1.0.1
groq==0.4.0
# Audio & Voice
pyaudio==0.2.14
openwakeword==0.5.0
SpeechRecognition==3.10.1
gTTS==2.5.1
pygame==2.5.2
numpy==1.26.3
# Automation & System
AppOpener==1.7
psutil==5.9.8
pyautogui==0.9.54
# Database
sqlalchemy==2.0.25
# Google APIs
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
cryptography
pywhatkit==5.4
